@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.col {
    margin-left: 50px;
    padding-top: 50px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.pill_margin8 {
    margin-top: 50px;
    background-color: #E9E0FE;
    width: fit-content;
    height: 28px;

    border-radius: 2px;
}

.pill_margin4 {
    margin-top: 50px;
    background-color: #E9E0FE;
    width: fit-content;
    height: 20px;

    border-radius: 2px;
}

.label {
    display: inline-block;
    font-weight: 400; 
    color: #6B32FA;
}

.pill_margin8 .label {
    font-size: 12px;
    line-height: 28px;
    margin: 0 4px 0 8px;
}

.pill_margin8.nonedit .label {
    margin-right: 8px;
}

.pill_margin8.nonedit .icon + .label {
    margin-left: 4px;
    /* margin-right: 8px; */
}

.pill_margin4 .label {
    font-size: 12px;
    line-height: 20px;
    vertical-align: text-top;
    margin: 0 4px 0 8px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    margin-right: 8px;
}

.pill_margin8.nonedit .icon {
    margin-left: 8px;
    margin-right: 0px;
}

.thumbnail {
    float: left;
    background-color: grey;
    border-radius: 2px 0 0 2px;
    background-image: url("rosa.png");
    background-size: cover;
}

.pill_margin8 .thumbnail {
    width: 28px;
    height: 28px;
}

.pill_margin4 .thumbnail {
    width: 20px;
    height: 20px;
}

.label-container {
    float: right;
}