@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.col {
    margin-left: 50px;
    padding-top: 50px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.row {
    margin-top: 50px;
    width: 100%;
}

/* common */
.tgl-btn {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: middle;

    cursor: pointer;
}

.tgl-btn:first-child {
    margin-right: 10px;
}

.container {
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.label {
    text-align: center;
    vertical-align: middle;
}


/* strengthening style */

/* common */
.tgl-btn.strengthen.off {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.tgl-btn.strengthen.on {
    background: #E9E0FE;
    border: 2px solid #7E4AFA;
    border-radius: 2px;
}

.tgl-btn.strengthen.off .label {
    font-weight: 400;
}

.tgl-btn.strengthen.on .label {
    color: #5919F9;
    font-weight: 600;
}

/* text only */
.tgl-btn.strengthen.text-only {
    width: 40px;
    height: 28px;
}

.tgl-btn.strengthen.text-only .label {
    width: 100%;
    font-size: 12px;
}

/* icon only */
.tgl-btn.strengthen.icon-only {
    width: 32px;
    height: 32px;
}

.tgl-btn.strengthen.icon-only .icon {
    display: block;
    width: 24px;
    height: 24px;
}


/* icon + text */

.tgl-btn.strengthen.icontext {
    width: 104px;
    height: 40px;
}

.tgl-btn.strengthen.icontext .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.tgl-btn.strengthen.icontext .label {
    display: inline-block;
    font-size: 16px;
    margin-left: 4px;
}

/* image text */
.tgl-btn.strengthen.imagetext {
    width: 136px;
    height: 114px;
}

.tgl-btn.strengthen.imagetext .image {
    width: 56px;
    height: 56px;
    margin: auto;
    border-radius: 50%;
    background-image: url("trip.png");
    background-size: cover;
}

.tgl-btn.strengthen.imagetext .label {
    font-size: 14px;
    margin-top: 8px;
}
